backend/ERD/autosave.chc
backend/ERD/brModelo.jar
backend/ERD/config.chc
backend/ERD/ERD_academxplore.brM3
backend/ERD/Modelo Lógico academxplore.brM3
angelic-turbine-400123-bf8bcde44427.json
backend/academxplore/src/main/resources/application.properties