.background-image-meet{
  background: 
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../../img/os-designers-graficos-que-interagem-na-sua-mesa 1.png");
background-size: cover;
}

.background-primary-color{
  background-color: var(--primary-color);
}


.btn-login-page{
  padding: 15px 40px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #00B8B5;
  text-decoration: none;
  text-align: center;
}
.btn-login-page:hover{
  border: none;
  padding: 15px 42px;
  color: black;
  background-color: #00B8B5;
}

.btn-cadastrar-page{
  padding: 15px 40px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #00B8B5;
  text-decoration: none;
  text-align: center;
}
.btn-cadastrar-page:hover{
  border: none;
  padding: 15px 42px;
  color: black;
  background-color: #00B8B5;
}

.button-box{
  width: 100%;
  margin: 35px auto;
  position: relative;
  border-radius:  30px;
  background: #fff;
  display: flex;
  justify-content: space-around;
}

.toggle-btn{
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;

}

#btn{
  top: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--primary-color);
  border-radius: 30px;
  transition: .5s;
}