.btn-login{
    padding: 4px 0;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid var(--secundary-color);
    transition: color 0.2s;
  }

  .btn-login:hover{
    color: var(--primary-color);
    background-color: var(--secundary-color);
  }